<%= form_for [:backend, product], html: { multipart: true } do | form | %>
<%= display_alert %>

	<%= form.label :name %>
	<%= form.text_field :name %>
	<br />
	<%= form.label :description %>
	<%= form.text_area :description %>
	<br />
	<%= form.label :price %>
	<%= form.text_field :price %>
	<br />
	<%= form.label :inventory %>
	<%= form.text_field :inventory %>
	<%= form.label 'Infinito' %>
	<%= form.check_box :inventory, {},'-1' %>
	<br />
	<%= form.label :active %>
	<%= form.check_box :active %>
	<br />
	<hr />
	<%= form.fields_for :images do | image_fields | %>

		<% if image_fields.object.new_record? %>
			<%= image_fields.file_field :photo %>
		<% end %>

		<% if image_fields.object.photo.file? %>
			<%= image_tag image_fields.object.photo.url(:medium) %>
 				<%= image_fields.check_box :_destroy	%>
			<%= image_fields.label :_destroy, 'Eliminar' %>
		<% end %>
		<br />

	<% end %>
	<div class='actions'>
		<%= form.submit %>
	</div>
<% end %>