<%= form_for [:backend, product], html: { multipart: true } do | form | %>
<%= display_alert %>

	<%= form.label :name %>
	<%= form.text_field :name %>
	<br />
	<%= form.label :description %>
	<%= form.text_area :description %>
	<br />
	<%= form.label :price %>
	<%= form.text_field :price %>
	<br />
	<%= form.label :inventory %>
	<%= form.text_field :inventory %>
	<%= form.check_box :infinite %>
	<%= form.label 'Infinito' %>
	<br />
	<%= form.label :active %>
	<%= form.check_box :active %>
	<br />
	<hr />
	<%= form.fields_for :images do | image | %>

		<% if image.object.new_record? %>
			<%= image.file_field :photo %>
		<% end %>

		<% if image.object.photo.file? %>
			<%= image_tag image.object.photo.url(:thumb) %>
 				<%= image.check_box :_destroy	%>
			<%= image.label :_destroy, 'Eliminar' %>
		<% end %>
		<br />

	<% end %>
	<div class='actions'>
		<%= form.submit %>
	</div>
<% end %>